#contact h2{
  padding-top: 10px;
  flex:1 1 100%;
  text-align: center;
}
#contact a {
  color: $main-color;
}
#contact a:hover{
  color: #55dac3;
}
#contact a:visited{
  color: #911b0b;
}
/* ---- Small Screens --- */
@media screen and (max-width: 600px){
  i.fa-4x {
    font-size: 2em;
}
  #contact{
    background: #F4F4F4;
    text-align: center;
    color: $main-color;
    @include flexbox(space-between);
  }
  #contact > a:nth-child(n) {
      width: 100%;
      flex:1 1 100%;
      padding: 10px;
    }
    
}

/* ---- Medium Screens --- */
@media screen and (min-width: 600px) and (max-width: 900px){
  i.fa-4x {
    font-size: 3em;
}
  #contact{
    @include flexbox(space-around);
    padding: 20px;
  }
  #contact > a:nth-child(n) {
    box-sizing: border-box;
    margin: 15px 0;
  }
  
}
/* ---- Big Screens --- */
@media screen and (min-width: 900px){
  #contact{
    @include flexbox(center);
    padding: 20px;
  }
  #contact > a:nth-child(n) > i {
    width: 30%;
    box-sizing: border-box;
    margin: 15px 0;
    padding: 10px 100px;
  }
  
}