#photos{
  // background: #123812;
  background: #004d40;
}
// .images{
//   text-align: center;
//   margin: 80px 0;
//   white-space: nowrap;
//   // background-size: cover;
// }
// .images li{
//   display: inline-block;
//   list-style-type: none;
//   width: 20%;
//   margin: 10px 2%;
//   position: relative;
// }
// .images li:hover{
//   top: -4px;
// }
// .images li img{
//   max-width: 100%;
// }

/* ---- Small Screens --- */
@media screen and (max-width: 600px){
  #photos img{
    width: 100%;
    // margin: 15px 10px;
    box-sizing: border-box;
    padding: 30px;
    flex:1;
  }
}
/* ---- Medium Screens --- */
@media screen and (min-width: 600px) and (max-width: 900px){
  #photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
  }
  #photos img{
      width: 50%;
      height: 100%;
      box-sizing: border-box;
      // margin: 15px 0;
      padding: 10px;
      flex:1 1 50%;
  }
  
}
/* ---- Big Screens --- */
@media screen and (min-width: 900px){
  #photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
  }
  #photos img{
      width: 20%;
      box-sizing: border-box;
      margin: 15px 0;
      padding: 10px;
      flex:1;
  }
  
}