#photos{
  background: $main-color;
}
/* ---- Small Screens --- */
// @media screen and (max-width: 600px){
  #photos img{
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    flex:1;
  }
// }
/* ---- Medium Screens --- */
@media screen and (min-width: 600px) and (max-width: 900px){
  #photos{
    @include flexbox(space-between);
    padding: 30px;
  }
  #photos img{
      width: 50%;
      height: 100%;
      box-sizing: border-box;
      padding: 10px;
      flex:1 1 50%;
  }
  
}
/* ---- Big Screens --- */
@media screen and (min-width: 900px){
  #photos{
    @include flexbox(center);
    padding: 30px;
  }
  #photos img{
      width: 20%;
      box-sizing: border-box;
      margin: 15px 0;
      padding: 10px;
      flex:1;
  }
  
}